body {
  	background-color: #f3f1f6;
  	background-image: url(images/bg-1.png);
  	background-repeat: repeat;
  	font-family: 'Ubuntu Condensed', sans-serif;
}
body, input, select, textarea{
	color: #888;
}
p{
	/*font-family: 'Acme', sans-serif;*/
	font-family: 'Vollkorn', serif;
}
h1, h2, h3, h4, h5, h6{
	color: #3d4449;
}
.navbar-toggler {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.logo{
	padding: 5px 0 20px 0;
	background: #ffffff;
}
.navbar-collapse>ul{
    list-style: none;
    padding-left: 0;
}
.container{
	/*width: 1200px;*/
    background: rgba(0,0,0,.07);
    padding-left: 10px;
    padding-right: 10px;
}
.logo .logo-img {
	display: inline-block;
	padding-left: 15px;
}
.logo a {
    display: inline-block;
    padding-top: 5px;
}
.logo a img{
	width: 140px;
}
.header-top{
	background: #ffffff;
}
.header-bott{
	background-color: #4a5063;
}
.navbar-light{
	background-color: #4a5063;
	margin-top: -10px;
	position: absolute;
    width: calc(100% - 20px);
}
.header-bott .container{
	position: relative;
    height: 56px;
}
.slider{
	/*min-height: 500px;*/
	background: #ffffff;
	margin-top: -10px;
	position: relative;
}
.navbar{
	padding: 0;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-light .navbar-nav .nav-item{
	padding: 8px 5px;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    display: block;
	color: #ffffff;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-item .nav-link:after{
	position: absolute;
	width: 0;
	content: '';
	bottom: 0;
	left: 0;
	height: 3px;
	background: #f56a6a;
	-webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s;
}
.navbar-light .navbar-nav .nav-item:hover > .nav-link:after, .navbar-light .navbar-nav .nav-item.active > .nav-link:after{
	width: 100%;
}
.nav-item:hover > .nav-link, .nav-item.active > .nav-link, .dropdown-list>li:hover>a{
    color: #c3c2c2 !important;
}
.main .slick-prev, .main .slick-next{
	width: 40px;
    height: 40px;
}
.main .slick-next {
    right: 5px;
}
.main .slick-prev {
    left: 5px;
    z-index: 999;
}
.main .slick-prev:before, .main .slick-next:before{
	font-size: 40px;
}
.main .slick-dots li button:before{
	font-size: 12px;
}
section{
	background: #ffffff;
}
.content-wrapper h3{
	/*color: #777;*/
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 0.5625em 0.5em;
    padding-top: 1em;
    border-bottom: 3px solid #f56a6a;
    display: inline-block;
    padding-bottom: 15px;
}
.content-wrapper p{
	margin: 0 0 0.5625em 1em;
}
.grid .img img{
	max-width: 100%;
}
.grid{
	margin: 0 15px 10px 15px;
	padding-bottom: 30px;
	border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}
.grid .img{
	margin-bottom: 20px;
	overflow: hidden;
}
.grid .footer a{
	background: transparent;
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: #f56a6a ;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.grid .footer a:hover{
	background: #f56a6a;
	text-decoration: none;
	color: #ffffff
}
.slick-dots{
	background: #ffffff;
}
footer{
	position: relative;
    height: 358px;
    margin-top: 10px;
    background: #4a5063;
}
.footer-main{
	position: absolute;
    width: 100%;
}
.footer-main .footer-inner{
	margin-top: -10px;
	background: #4a5063;
	color: #ffffff;
	padding-top: 20px;
}
footer ul{
	list-style: none;
}
footer ul li a{
	color: #fff;
}
footer ul li a:hover{
	color: #d8d8d8;
}
footer ul li h4, .site-bottom-2 h4{
	color: #d8d8d8;
}
.icon{
	text-decoration: none;
    border-bottom: none;
    position: relative;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.features{
	-moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 0 2em 1em;
    position: relative;
}
.features .icon{
	-moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    height: 10em;
    line-height: 10em;
    margin: 0 2em 0 0;
    text-align: center;
    width: 10em;
}
.features .icon:before{
	color: #f56a6a;
    font-size: 2.75rem;
    position: relative;
    top: 0.05em;
}
.features .icon:after{
	-moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0.25rem;
    border: solid 2px rgba(210, 215, 217, 0.75);
    content: '';
    display: block;
    height: 7em;
    left: 50%;
    margin: -3.5em 0 0 -3.5em;
    position: absolute;
    top: 50%;
    width: 7em;
}
.features .content{
	-moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}
.grid .img a{
	display: inline-block;
	-moz-transition: -moz-transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease;
}
.grid .img:hover a{
	-moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}
.tab-wrapper{

}
.tab-wrapper .tab-list{
	float: left;
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.tab-wrapper .tab-list li a{
	display: block;
    padding: 15px 20px;
    padding-right: 75px;
    margin-right: 0;
    font-weight: 400;
    color: rgba(98,98,98,.7);
    font-size: 12px;
    min-width: 70px;
    text-transform: uppercase;
}
.tab-wrapper .tab-list li{
	display: block;
}
.tab-wrapper .tab-content{
	overflow: hidden;
    padding: 15px;
    border-left: 1px solid rgba(0,0,0,.1);
}
.social-icons{
	text-align: right;
    padding-top: 15px;
}
.social-icons ul{
	padding: 0;
	margin-bottom: 0;
	margin-right: 20px;
	display: table;
}
.social-icons ul li{
	float: left;
	list-style: none;
	margin-right: 5px;
}
.social-icons ul li a{
	display: block;
	position: relative;
	width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #000;
    border-radius: 50%;
}
.social-icons ul li a:before{
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 0;
	border-radius: 50%;
	-webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
}
.social-icons ul li a.facebook:before{
	background: #3B5998;
}
.social-icons ul li a.twitter:before{
	background: #00aced;
}
.social-icons ul li a.youtube:before{
	background: #ff0000;
}
.social-icons ul li a:hover:before{
	height: 100%;
}
.social-icons ul li a .fa{
	font-size: 25px;
	position: relative;
}
.social-icons .fa-facebook{
	color: #3B5998;
}
.social-icons .fa-twitter{
	color: #00aced;
}
.social-icons .fa-youtube{
	color: #ff0000;
}
.social-icons ul li a:hover .fa{
	color: #ffffff;
}
/*.social-icons ul li a.facebook:hover {
	background: #3B5998;
}
.social-icons ul li a.twitter:hover {
	background: #00aced;
}
.social-icons ul li a.youtube:hover {
	background: #ff0000;
}*/
.slick-dotted.slick-slider {
    margin-bottom: 27px;
}
.dropdown{
    position: relative;
}
.dropdown{
    position: relative;
}
.dropdown .dropdown-list{
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 200px;
    padding-left: 0;
    background: #4a5063;
}
.dropdown:hover>.dropdown-list{
    display: block;
}

@media(max-width: 991px){
   
}
@media (max-width: 767px){
    .navbar-collapse{
        display: block;
        background: #fff;
        position: relative;
        z-index: 9999;
    }
    .navbar-toggler{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .navbar-toggler span{
        color: #ffffff;
    }
    /*.navbar-light .navbar-toggler-icon {
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E)
    }*/
    .navbar-light .navbar-nav .nav-item .nav-link{
        color: #4a5063;
    }
    .nav-item.dropdown{
        position: relative;
    }
    .nav-item.dropdown:before{
        position: absolute;
        content: '+';
        color: #000000;
        top: 9px;
        right: 14px;
        font-size: 45px;
        line-height: 26px;
    }
    .navbar-toggler{
        display: block;
        background: transparent;
        border: 0;
    }
    .container {
        width: 100% !important;
        max-width: 100%;
    }
}
